#navbar {
  margin: 0 auto;
  background-color: #3d3d3d;
  width:240px;
  height: calc(100vh - 125px - 40px - 16px);
  display: inline-block;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

p {
  height: 10px;
  color: white;
  margin-left: 20px;
}

.dropdown {
  margin: auto;
  width: 235px;
  margin-bottom:10px;
}

.dropdown-menu {
  height: auto;
  width: 235px;
  max-height: 200px;
  overflow-x: hidden;
  margin-bottom:10px;
}

#dropdownMenu2{
width: 235px;
}

#checkbox{
  width: 235px;
  height: 39px;
  font-family:inherit;
  margin:auto;
  vertical-align: center;
  text-align: center;
  border-radius: 0.25em;
  background-color:#6c757d;
  color:white;
  margin-bottom: 10px;
  padding-top: 8px;
}
