<div id="navbar">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Wybierz punkt początkowy
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Wybierz punkt docelowy
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
    </div>
  </div>

  <div id="login">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
      </div>
      <input type="text" class="form-control" placeholder="Użytkownik" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
      </div>
      <input type="text" class="form-control" placeholder="Hasło" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-secondary">Zaloguj</button>
    <button type="button" class="btn btn-danger">Rejestracja</button>
  </div>
</div>
