<div id="navbar">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{startPoint}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button *ngFor="let station of stations" (click)="setStartPoint(station)" class="dropdown-item" type="button">{{station.stationName}}</button>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{endPoint}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button *ngFor="let station of stations" (click)="setEndPoint(station)" class="dropdown-item" type="button">{{station.stationName}}</button>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Typ trasy
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button (click)="setType('shortest')" class="dropdown-item" type="button">shortest</button>
      <button (click)="setType('fastest')" class="dropdown-item" type="button">fastest</button>
      <button (click)="setType('quickest')" class="dropdown-item" type="button">quickest</button>
    </div>
  </div>

  <div id="checkbox">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
      <label class="custom-control-label" for="defaultUnchecked">Preferuj bez przesiadek</label>
    </div>
  </div>

</div>
