<app-header></app-header>
<app-user-bar *ngIf="logged"></app-user-bar>
<div class="dane" id="userInfo" *ngIf="logged">




    <div class="info">Panel Użytkownika</div>
    <br>
    <h1 class="info">Potwierdź usuwanie</h1>

    <div id="formularz">

      <form #f="ngForm"  novalidate>

        <div >
          <label  for="formPassword">Podaj swoje hasło</label>
          <div >
            <input id="formPassword" type="password" name="formPassword"  ngModel required #formPassword="ngModel"><br>

          </div>
        </div>

      </form>

      <button class="button2" (click)="delete()">Usuń</button>
    </div>



        <br>


    </div>


<app-footer></app-footer>
