<app-header></app-header>
<div *ngIf="!logged">
  <h1 class="info">Musisz być zalogowany, aby przelądać informacje o użytkowniku</h1>
  <a  class="button2" href="http://localhost:4200/home"><h1>Zaloguj</h1></a>
</div>
<app-user-bar *ngIf="logged"></app-user-bar>


<div class="dane" id="userInfo" *ngIf="logged">

  <span *ngIf="logged" class="info">Informacje o użytkowniku</span>
  <br>
  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell"> Adres mailowy użytkownika</div>
        <div class="divTableCell"> {{userInfo.email}}</div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> Nazwa użytkownika</div>
        <div class="divTableCell"> {{userInfo.userName}}</div>

      </div>
      <div class="divTableRow">
        <div class="divTableCell">Role użytkownika</div>
        <div class="divTableCell"> <span *ngFor="let role of userInfo.roles">{{role.name+","}}</span></div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell">Premium</div>

        <div class="divTableCell" *ngIf="(rola == 'userPremium')">TAK</div>
        <div class="divTableCell" *ngIf="(rola  != 'userPremium')"><button class="button1">KUP</button></div>

      </div>
    </div>
  </div>


</div>

<div *ngIf="paymentInfo" class="divTable" class="dane2">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"> ID Płatności</div>
      <div class="divTableCell"><p>{{paymentInfo.paymentID}}</p></div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell"> Czas zapłaty</div>
      <div class="divTableCell">   <p>{{paymentInfo.paymentTime}}</p></div>


    </div>
    <div class="divTableRow">
      <div class="divTableCell"> Czas utworzenia</div>
      <div class="divTableCell">   <p>{{paymentInfo.createTime}}</p></div>


    </div>
    <div class="divTableRow">
      <div class="divTableCell">Opis płatności</div>
      <div class="divTableCell"> <p>{{paymentInfo.description}}</p></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">Wartosć płatności</div>
      <div class="divTableCell"> <p>{{paymentInfo.totalAmount}} {{paymentInfo.currency}}</p></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">Status płatności</div>
      <div class="divTableCell">  <p>{{paymentInfo.status}}</p></div>
    </div>

  </div>
</div>

<app-footer></app-footer>
