a.info{
  color: #106aa6;

}

.dane{
  position: absolute;
  top: 52%;
  left: 30%;
  width: 50%;
  height: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 17px / 31px;
  border-radius: 17px / 31px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: #007fc8;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

  margin: -100px 0 0 -100px;


}
.info{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 21px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

  display: flex;
  justify-content: center;
  align-items: center;

}

#userInfo {

}

.divTable{
  display: table;
  width: 100%;

}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {

  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.button1 {
  position: relative;
  left: 1px;
  -moz-box-shadow: 0px 10px 16px -6px #276873;
  -webkit-box-shadow: 0px 10px 16px -6px #276873;
  box-shadow: 0px 10px 16px -6px #276873;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00bbff), color-stop(1, #106aa6));
  background:-moz-linear-gradient(top, #00bbff 5%, #106aa6 100%);
  background:-webkit-linear-gradient(top, #00bbff 5%, #106aa6 100%);
  background:-o-linear-gradient(top, #00bbff 5%, #106aa6 100%);
  background:-ms-linear-gradient(top, #00bbff 5%, #106aa6 100%);
  background:linear-gradient(to bottom, #00bbff 5%, #106aa6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bbff', endColorstr='#106aa6',GradientType=0);
  background-color:#00bbff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:4px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.button1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #106aa6), color-stop(1, #00bbff));
  background:-moz-linear-gradient(top, #106aa6 5%, #00bbff 100%);
  background:-webkit-linear-gradient(top, #106aa6 5%, #00bbff 100%);
  background:-o-linear-gradient(top, #106aa6 5%, #00bbff 100%);
  background:-ms-linear-gradient(top, #106aa6 5%, #00bbff 100%);
  background:linear-gradient(to bottom, #106aa6 5%, #00bbff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#106aa6', endColorstr='#00bbff',GradientType=0);
  background-color:#106aa6;
}
